# Pandas

In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(101)

# Series

creating

In [2]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

print(pd.Series(data=my_list))
print('--------------------------------')
print(pd.Series(data=my_list,index=labels))
print('--------------------------------')
print(pd.Series(pd.Series(arr)))
print('--------------------------------')
print(pd.Series(d))

0    10
1    20
2    30
dtype: int64
--------------------------------
a    10
b    20
c    30
dtype: int64
--------------------------------
0    10
1    20
2    30
dtype: int64
--------------------------------
a    10
b    20
c    30
dtype: int64

In [3]:
#series can hold any object type
print(pd.Series(data=labels))
print('--------------------------------')
print(pd.Series([sum,print,len])) #Even functions

0    a
1    b
2    c
dtype: object
--------------------------------
0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

using an index

In [4]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])                                   
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan'])       
print(ser1['USA'])
print('--------------------------------')
print(ser1+ser2)

1
--------------------------------
Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

# DataFrames

creating

In [5]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())
print(df)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

selecting

In [6]:
print(df['W'])
print('--------------------------------')
print(df[['W','Z']])
print('--------------------------------')
print(df.W) # SQL Syntax (NOT RECOMMENDED!)
print('--------------------------------')
print(type(df['W'])) #DataFrame Columns are just Series

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64
--------------------------------
          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509
--------------------------------
A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64
--------------------------------
<class 'pandas.core.series.Series'>

In [7]:
df['new'] = df['W'] + df['Y']
print(df)
print('--------------------------------')
print(df.drop('new',axis=1)) #returning dataframe without columns, not changing base df
print('--------------------------------')
print(df.drop(['new','W'],axis=1))
print('--------------------------------')
print(df.drop('E',axis=0))

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762
--------------------------------
          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509
--------------------------------
          X         Y         Z
A  0.628133  0.907969  0.503826
B -0.319318 -0.848077  0.605965
C  0.740122  0.528813 -0.589001
D -0.758872 -0.933237  0.955057
E  1.978757  2.605967  0.683509
--------------------------------
          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542

In [8]:
print(df.loc['A']) #returning reference 
print('--------------------------------')
print(df.iloc[2]) 
print('--------------------------------')
print(df.loc[:,'X'])
print('--------------------------------')
print(df.loc[['A','B'],['W','Y']])

W      2.706850
X      0.628133
Y      0.907969
Z      0.503826
new    3.614819
Name: A, dtype: float64
--------------------------------
W     -2.018168
X      0.740122
Y      0.528813
Z     -0.589001
new   -1.489355
Name: C, dtype: float64
--------------------------------
A    0.628133
B   -0.319318
C    0.740122
D   -0.758872
E    1.978757
Name: X, dtype: float64
--------------------------------
          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

In [9]:
print(df[df>0])
print('--------------------------------')
print(df[df['W']>0])
print('--------------------------------')
print(df[df['W']>0][['Y','X']])
print('--------------------------------')
print(df[(df['Y']>0) & (df['Z'] > 1)])

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118       NaN       NaN  0.605965       NaN
C       NaN  0.740122  0.528813       NaN       NaN
D  0.188695       NaN       NaN  0.955057       NaN
E  0.190794  1.978757  2.605967  0.683509  2.796762
--------------------------------
          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762
--------------------------------
          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757
--------------------------------
Empty DataFrame
Columns: [W, X, Y, Z, new]
Index: []

index details

In [10]:
print(df.reset_index())
print('--------------------------------')
newind = 'CA NY WY OR CO'.split()
df['States'] = newind
print(df.set_index('States')) #not changes orginal df
print('--------------------------------')
print(df)
print('--------------------------------')
print(df.set_index('States',inplace=True))
print('--------------------------------')
print(df)
print('--------------------------------')

  index         W         X         Y         Z       new
0     A  2.706850  0.628133  0.907969  0.503826  3.614819
1     B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
2     C -2.018168  0.740122  0.528813 -0.589001 -1.489355
3     D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
4     E  0.190794  1.978757  2.605967  0.683509  2.796762
--------------------------------
               W         X         Y         Z       new
States
CA      2.706850  0.628133  0.907969  0.503826  3.614819
NY      0.651118 -0.319318 -0.848077  0.605965 -0.196959
WY     -2.018168  0.740122  0.528813 -0.589001 -1.489355
OR      0.188695 -0.758872 -0.933237  0.955057 -0.744542
CO      0.190794  1.978757  2.605967  0.683509  2.796762
--------------------------------
          W         X         Y         Z       new States
A  2.706850  0.628133  0.907969  0.503826  3.614819     CA
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959     NY
C -2.018168  0.740122  0.528813 -0.589001 -1.489355     WY
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542     OR
E  0.190794  1.978757  2.605967  0.683509  2.796762     CO
--------------------------------
None
--------------------------------
               W         X         Y         Z       new
States
CA      2.706850  0.628133  0.907969  0.503826  3.614819
NY      0.651118 -0.319318 -0.848077  0.605965 -0.196959
WY     -2.018168  0.740122  0.528813 -0.589001 -1.489355
OR      0.188695 -0.758872 -0.933237  0.955057 -0.744542
CO      0.190794  1.978757  2.605967  0.683509  2.796762
--------------------------------

In [11]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
print(hier_index)
print('--------------------------------')
hier_index = pd.MultiIndex.from_tuples(hier_index)
print(hier_index)
print('--------------------------------')
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
print(df)
print('--------------------------------')
print(df.loc['G1'])
print('--------------------------------')
print(df.loc['G1'].loc[1])
print('--------------------------------')
df.index.names = ['Group','Num']
print(df)

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]
--------------------------------
MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])
--------------------------------
             A         B
G1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
G2 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646
--------------------------------
          A         B
1  0.302665  1.693723
2 -1.706086 -1.159119
3 -0.134841  0.390528
--------------------------------
A    0.302665
B    1.693723
Name: 1, dtype: float64
--------------------------------
                  A         B
Group Num
G1    1    0.302665  1.693723
      2   -1.706086 -1.159119
      3   -0.134841  0.390528
G2    1    0.166905  0.184502
      2    0.807706  0.072960
      3    0.638787  0.329646

In [12]:
df.xs('G1')

            A         B
Num
1    0.302665  1.693723
2   -1.706086 -1.159119
3   -0.134841  0.390528

# Missing data

In [16]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})
print(df)
print('--------------------------------')
print(df.dropna())
print('--------------------------------')
print(df.dropna(axis=1))
print('--------------------------------')
print(df.dropna(thresh=2))
print('--------------------------------')
print(df.fillna(value='FILL VALUE'))
print('--------------------------------')
print(df.fillna(value=df.mean()))
print('--------------------------------')

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3
--------------------------------
     A    B  C
0  1.0  5.0  1
--------------------------------
   C
0  1
1  2
2  3
--------------------------------
     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
--------------------------------
            A           B  C
0           1           5  1
1           2  FILL VALUE  2
2  FILL VALUE  FILL VALUE  3
--------------------------------
     A    B  C
0  1.0  5.0  1
1  2.0  5.0  2
2  1.5  5.0  3
--------------------------------

# Group by

In [24]:
df = pd.DataFrame({'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]})

print(df)
print('--------------------------------')
print(df.groupby('Company').mean())
print('--------------------------------')
print(df.groupby('Company').min())
print('--------------------------------')
print(df.groupby('Company').count())
print('--------------------------------')
print(df.groupby('Company').describe())
print('--------------------------------')
print(df.groupby('Company').describe().transpose())
print('--------------------------------')

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350
--------------------------------
         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0
--------------------------------
          Person  Sales
Company
FB          Carl    243
GOOG     Charlie    120
MSFT         Amy    124
--------------------------------
         Person  Sales
Company
FB            2      2
GOOG          2      2
MSFT          2      2
--------------------------------
        Sales
        count   mean         std    min     25%    50%     75%    max
Company
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0
--------------------------------
Company              FB        GOOG        MSFT
Sales count    2.000000    2.000000    2.000000
      mean   296.500000  160.000000  232.000000
      std     75.660426   56.568542  152.735065
      min    243.000000  120.000000  124.000000
      25%    269.750000  140.000000  178.000000
      50%    296.500000  160.000000  232.000000
      75%    323.250000  180.000000  286.000000
      max    350.000000  200.000000  340.000000
--------------------------------

# Merge, join and concatenate

concatenate

In [29]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7]) 

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7]) 

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])
print(df1)
print('--------------------------------')
print(df2)
print('--------------------------------')
print(df3)
print('--------------------------------')
print(pd.concat([df1,df2,df3]))
print('--------------------------------')
print(pd.concat([df1,df2,df3],axis=1))
print('--------------------------------')

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
--------------------------------
    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7
--------------------------------
      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11
--------------------------------
      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11
--------------------------------
      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11
--------------------------------

merge

In [31]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})    

print(left)
print('--------------------------------')
print(right)
print('--------------------------------')
print(pd.merge(left,right,how='inner',on='key'))
print('--------------------------------')

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3
--------------------------------
  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3
--------------------------------
  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3
--------------------------------

In [34]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
    
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})
print(left)
print('--------------------------------')
print(right)
print('--------------------------------')
print(pd.merge(left, right, on=['key1', 'key2']))
print('--------------------------------')
print(pd.merge(left, right,how='outer', on=['key1', 'key2']))
print('--------------------------------')
print(pd.merge(left, right,how='right', on=['key1', 'key2']))
print('--------------------------------')
print(pd.merge(left, right,how='left', on=['key1', 'key2']))
print('--------------------------------')

  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3
--------------------------------
  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3
--------------------------------
  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2
--------------------------------
  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3
--------------------------------
  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3
--------------------------------
  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN
--------------------------------

join

In [35]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

print(left)
print('--------------------------------')
print(right)
print('--------------------------------')
print(left.join(right))
print('--------------------------------')
print(left.join(right, how='outer'))
print('--------------------------------')

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
--------------------------------
     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3
--------------------------------
     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2
--------------------------------
      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3
--------------------------------

# Operations

In [43]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
print(df)
print('--------------------------------')
print(df['col2'].unique())
print('--------------------------------')
print(df['col2'].nunique())
print('--------------------------------')
print(df['col2'].value_counts())
print('--------------------------------')
print(df[(df['col1']>2) & (df['col2']==444)])
print('--------------------------------')

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz
--------------------------------
[444 555 666]
--------------------------------
3
--------------------------------
444    2
555    1
666    1
Name: col2, dtype: int64
--------------------------------
   col1  col2 col3
3     4   444  xyz
--------------------------------

In [44]:
def times2(x):
    return x*2

print(df)
print('--------------------------------')
print(df['col1'].apply(times2))
print('--------------------------------')
print(df['col3'].apply(len))
print('--------------------------------')
del df['col1']
print(df)
print('--------------------------------')
print(df.sort_values(by='col2'))
print('--------------------------------')
print(df.isnull())
print('--------------------------------')

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz
--------------------------------
0    2
1    4
2    6
3    8
Name: col1, dtype: int64
--------------------------------
0    3
1    3
2    3
3    3
Name: col3, dtype: int64
--------------------------------
   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz
--------------------------------
   col2 col3
0   444  abc
3   444  xyz
1   555  def
2   666  ghi
--------------------------------
    col2   col3
0  False  False
1  False  False
2  False  False
3  False  False
--------------------------------

In [45]:
df = pd.DataFrame({'col1':[1,2,3,np.nan],
                   'col2':[np.nan,555,666,444],
                   'col3':['abc','def','ghi','xyz']})

print(df)
print('--------------------------------')
print(df.fillna('FILL'))
print('--------------------------------')

   col1   col2 col3
0   1.0    NaN  abc
1   2.0  555.0  def
2   3.0  666.0  ghi
3   NaN  444.0  xyz
--------------------------------
   col1  col2 col3
0     1  FILL  abc
1     2   555  def
2     3   666  ghi
3  FILL   444  xyz
--------------------------------

In [46]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)
print(df)
print('--------------------------------')
print(df.pivot_table(values='D',index=['A', 'B'],columns=['C']))
print('--------------------------------')

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1
--------------------------------
C          x    y
A   B
bar one  4.0  1.0
    two  NaN  5.0
foo one  1.0  3.0
    two  2.0  NaN
--------------------------------